[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==3.1.1"
pytelegrambotapi = "==4.23.0"
python-dotenv = "==1.0.1"
validators = "==0.34.0"
webdriver-manager = "==4.0.2"
fake-useragent = "==1.5.1"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.10"
